.carousel {
    overflow-x: auto;
    display: flex;
    margin: 100px auto;
    width: 90%;
    border: 5px solid red
}
.carousel::-webkit-scrollbar{
    display: none;
}
.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 5s infinite linear;
    padding-right: 1em;
}
.card{
    flex: 0 0 5em;
    height: 5em;
    width: 1em;
    background: cornflowerblue;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}
@keyframes spin{
    from {translate: 0;}
    to {translate:  -100%}
}
/* this is my hamburger bar */
*, 
*::after, 
*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
}
:root {
     --bar-width: 60px;
     --bar-height: 8px;
     --hamburger-gap: 6px;
     --foreground: #333; 
    background-color: white;
}
.hamburger-menu{
    display: flex;
    flex-direction: column; 
    gap: var(--hamburger-gap);
    width: max-content;
    background: red
}
.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color:(var(--foreground));
    border-radius: 9999px;
}
.hamburger-menu input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}
/*.hamburger-menu input:checked::before{
    background: red;
} */
