*, *::after, 
*::before{
    box-sizing: border-box;
}

body{
    margin: 0px;
}
:root {
     --bar-width: 60px
         --bar-height: 8px
     --hamburger-gap: 6px
     --foreground: #333; 
    background-color: white;
}
.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color:(var(--foreground));
}


main{
    margin-left: 20px;
     margin-right: 20px;
}
h1{
    text-align: center;
}
.navbar ul{
list-style-type: none;
background-color: peru;
padding: 0px;
margin: 0px;
overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display:block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(225, 154, 84);
}
.navbar li{
    float: left;
}
nav {
    display: flex;
}

.carousel {
    overflow-x: auto;
    display: flex;
    margin: 100px auto;
    width: 90%;
    border: 5px solid red;
    position: relative;
    top: 10px;
}
.carousel::-webkit-scrollbar{
    display: none;
}
.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 7s infinite linear;
    padding-right: 1em;
}
.card{
    flex: 0 0 5em;
    height: 5em;
    width: 1em;
    background: cornflowerblue;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}
@keyframes spin{
    from {translate: 0;}
    to {translate:  -100%}
}
.carousel-move-down {
  margin-top: 100px;
}