*, *::after, *::before{
    box-sizing: border-box;
}
:root {
    --bar-width: 60px
    --bar-height: 8px
    --hamburger-gap: 6px
}







body{
    margin: 0px;
}
main{
    margin-left: 20px;
     margin-right: 20px;
}
h1{
    text-align: center;
}
.navbar ul{
list-style-type: none;
background-color: peru;
padding: 0px;
margin: 0px;
overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display:block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(225, 154, 84);
}
.navbar li{
    float: left;
}
nav {
    display: flex;
}

