<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to the Flask App</h1>
    <p>This is a simple Flask application.</p> 
    {% if cart %}
        <ul>
            {% for item, details in cart.items() %}
            <li>    
                {{ item }}: {{ '%.2f' % details['quantity'] }} x ${{ '%.2f' % details['price'] }} = 
                ${{  details['quantity'] * details['price'] | round(2) }} 
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}

</body>
</html>