body{
 background-color: #f2e8cf;
 margin-top: 130px;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar ul{
    list-style-type: none;
     background-color: #dc5f61;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    display: flex;   /* makes items line up across */
}
.navbar li{
    flex: 1;         /* each item spreads evenly */
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 25px;
}
.navbar h2{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #bd3134;
}
aside{
    width: 20%;
    float: left;
    padding: 10px;
    transform: translateY(px);
}
section{
    float: left;   
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}


.carousel {
    overflow-x: auto;
    display: flex;
    margin: 100px auto;
    width: 90%;
    padding: 0;
    transform: translateY(20px);
}
.carousel::-webkit-scrollbar{
    display: none;
}
.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 5s infinite linear;
    padding-right: 1em;
}
.card{
    flex: 0 0 5em;
    height: 5em;
    width: 1em;
    background: cornflowerblue;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}
.logo {
        width: 50%;
        height: auto;
    }
.grid-container {
  display: grid; /* Enables grid layout */
  
  /* Define 3 columns: 200px, 1fr (fraction of space), and 20% */
  grid-template-columns: 200px 1fr 20%; 
  
  /* Define 2 rows: 100px and auto (fits content) */
  grid-template-rows: 100px auto; 
  
  /* Add space between items */
  gap: 10px; 
}

/* Optional styling for items */
.grid-item {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
@keyframes spin{
    from {translate: 0;}
    to {translate:  -100%}
}
@media screen and (max-width: 1200px){

    
}
@media screen and (max-width: 600px){
    aside, section, article{
        width: 100%;
        float: none;
    }
}