body{
 background-color: #f2e8cf;
 margin-top: 200px;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;

}

.navbar ul{
    list-style-type: none;
     background-color: #dc5f61;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    display: flex;   /* makes items line up across */
}
.navbar li{
    flex: 1;         /* each item spreads evenly */
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 25px;
}
.navbar h2{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #bd3134;
}
aside{
    width: 20%;
    float: left;
    padding: 10px;
    transform: translateY(px);
}
section{
    float: left;   
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}


.carousel {
    overflow-x: auto;
    display: flex;
    margin: 100px auto;
    width: 90%;
    padding: 0;
    transform: translateY(20px);
}
.carousel::-webkit-scrollbar{
    display: none;
}
.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 5s infinite linear;
    padding-right: 1em;
}
.card{
    flex: 0 0 5em;
    height: 5em;
    width: 1em;
    background: cornflowerblue;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}


.logo {
        width: 50%;
        height: auto;
    }
/* Grid container styling */   
.grid-container {
  display: grid; /* Enables grid layout */
  
  /* Define 3 columns: 200px, 1fr (fraction of space), and 20% */
  grid-template-columns: 200px 1fr 20%; 
  
  /* Define 2 rows: 100px and auto (fits content) */
  grid-template-rows: 100px 10; 
  
  /* Add space between items */
  gap: 10px; 
}

/* Optional styling for items */
.grid-item {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.my_cover {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.container {
     width: 100%;
    height: 100%;
    position: relative;
}
.container a {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 26px;
    border-radius: 5px;
}
.container h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px 20px;
    text-decoration: none;
}
.container p {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px 20px;
    width : auto;
    text-decoration: none;
}
@keyframes spin{
    from {translate: 0;}
    to {translate:  -100%}
}
@media screen and (max-width: 1200px){

    
}
@media screen and (max-width: 600px){
    aside, section, article{
        width: 100%;
        float: none;
    }
}