body{
 background-color: #f2e8cf;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar ul{
    list-style-type: none;
     background-color: #dc5f61;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    display: flex;   /* makes items line up across */
}

.navbar li{
    flex: 1;         /* each item spreads evenly */
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 25px;
}
.navbar h2{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #bd3134;
}
aside{
    width: 20%;
    float: left;
    padding: 10px;
    transform: translateY(px);
}
section{
    float: left;   
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}
@media screen and (max-width: 600px){
    aside, section, article{
        width: 100%;
        float: none;
    }
    
}

