body{
    margin: 0px;
}

:root {
     --bar-width: 60px;
     --bar-height: 8px;
     --hamburger-gap: 6px;
     --foreground: #333; 
    background-color: white;
}
.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color:(var(--foreground));
}

.hamburger-menu{
    display: flex;
}